
.head_enlace{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    color: black;
    margin: 45px;
   
}

.head_enlace:hover {
    font-size: 19px;
}

.types_header{
    font-weight: 100;
    font-family: 'Space Mono', monospace;
}

.nav_links{
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: center;

}

