.item{
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    color: black;
    
}

.item:hover {
    font-family: 'Courier New', Courier, monospace;
}

.lateral{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: black;
}


.apris{
    font-family: 'Cormorant', serif;
    font-size: 60px;
    color: black;
}